.box-1{
    width: 900px;
    height: 100px;
    background-color: red;
    background-image:linear-gradient(top to bottom,yellow,green);
    color: white;
    font-style:25px;
}

.box-2{
    width: 900px;
    height: 100px;
    background-color: red;
    background-image:linear-gradient(bottom to top,yellow,green);
    color: white;
    font-style:25px;
}

.box-3{
    width: 900px;
    height: 100px;
    background-color: red;
    background-image:linear-gradient(90deg,yellow,green);
    color: white;
    font-style:25px;
}

.box-4{
    width: 900px;
    height: 100px;
    background-color: red;
    background-image:linear-gradient(white);
    color: white;
    font-style:25px;
}